*{
	margin: 0;
	padding: 0;
	border: 0;
    font-family: Verdana,sans-serif;
	text-align: center;
	}
.main{
  display: flex;
  justify-content: space-between;
}
.VideoList{
  display: flex;
  flex-direction: column;
}
.VideoItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
